  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        /* background-color: lightskyblue; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        transform: translateY(60%);
    }
    .box{
        background-color: #f2f2f2;
        min-width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    h2{
        text-align: center;
        margin: 20px 0;
    }
    .service li{
        list-style: none;
        text-align: center;
        font-size: 1.1rem;    
        font-weight: bold;
        color: #111212;
        padding: 10px;
        margin: 0 30px;
        cursor: pointer;
        transition: scale 0.2s ease;
}
.service li:hover{
    scale: 1.15;
    background-color: rgb(228, 227, 227);;
    border-radius: 20px;
}
.service li:active{
    scale: 0.95;
}
